
/* بدي احط خلفية فوق وافصل ال بتوم عن بعض وازبطها*/








      
.facebook{
    width:50px;
    height:50px;
   padding-left: 0;
   margin-left: 0;
}

.instagram{
    width: 50px;
    height: 50px;
    padding-left: 0;
   margin-left: 0;
}







.nav{
    
    font-size: larger;
    grid-area:nav;
    display: flex ;
    align-items: center;
    
}

.leftMenu{
    background-color:yellow;
    font-size: larger;
    grid-area:leftMenu ;
    transform: ;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/a6/68/d0/a668d08adfed5e1d7167bef32e04cb4b.jpg);
}


.main{

    
    font-size: larger;
    grid-area: main;
    height: 900px;
    width:1500px;
    text-align: center;
    background-image: url(https://i.pinimg.com/736x/8e/5a/8c/8e5a8c65c13fc3e98f365fe66ce496d0.jpg);
}

.rightMenu{



grid-area: rightMenu;
text-align: center;
background-image:url(https://pbs.twimg.com/media/DyosvuDXgAA7gnT?format=jpg&name=large) ;
}


.footer{

background-color: darkorange;
font-size: larger;
grid-area: footer;

text-align: center;
}


.constrect{

display: grid;
grid-template-areas: 
'nav nav nav nav        '             
' leftMenu main main rightMenu    '
' leftMenu  footer footer footer        '
;


}



.navlist{
    list-style: none;
    display: flex ;
}

.navlist>li{

margin-left: 290px;


background-color: azure;
padding: 15px;
border-radius: 50px;




}

.navlist>li:hover{
    background-color: brown;
}   
















