.img{
    width: 260px;
    height: 460px;
    z-index: 0;
margin-left: 60px;
border-radius: 850px;

}



.imgs{
    width: 360px;
    height: 660px;
  z-index: 1;
  margin-top:120px;
  margin-left:40px;
}



.leftstudant{
    display: flex;
    margin-left: 45%;
    align-items: center;
 background-color: blueviolet;
 width:350px;
 height: 450px;
 z-index: -1;
 border-radius: 900px;
}

.img2{
    background-color: blue;
    width:460px;
    height: 900px;
    z-index: -1;
    border-radius:500px;
}
.button{
    z-index: 1;
    margin-top: -200px;
    border-radius: 30px;
    border: 60px;
    margin-right: 
}